<h1>New ingredient dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>

  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to 'Cancel', cocktail_path(@cocktail), class: 'btn btn-outline-danger' %>
<% end %>