<div class="m-4 text-center">
  <h2>New ingredient dose</h2>
</div>

<div class="ml-4 mr-4">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>

    <div class="text-center">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', cocktail_path(@cocktail), class: 'btn btn-outline-danger' %>
    </div>
<% end %>
</div>